html {
	background: #F3F8F0;
	background: linear-gradient(135deg, #F3F8F0, #30FF4C);
}

.macondo-regular {
	font-family: "Macondo", cursive;
	font-weight: 400;
	font-style: normal;
}

.alegreya-<uniquifier> {
	font-family: "Alegreya", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 15px;
}

article,
aside {
	padding: 0 60px;
}

nav {
	padding-left: 60px;
	padding-bottom: 15px;
	padding-top: 15px;
}

h1 {
	font-family: Macondo;
	font-size: 50px;
	margin: 0;
}

h2 {
	padding: 5px 5px 5px;
	font-family: Macondo;
	font-size: 30px;
	margin: 0;
}

p {
	font-family: Alegreya;
	font-size: 20px;
	width: 100%;
	text-align: justify;
}

.headerimage {
	position: relative;
	width: 100%;
	height: 350px;
}

.image {
	border: solid 3px #000;
	width: 500px;
	height: 270px;
}

.logo {
	height: auto;
	z-index: 1;
	position: absolute;
	width: 10%;
	margin-left: 20px;
}

footer {
	position: relative;
	padding-top: 10px;
	padding-left: 60px;
}

footer p {
	text-align: center;
}

.button {
	background-color: #DF6311;
	color: #FFF;
	border: 5px dashed #DF6311;
	font-size: 1.2em;
	padding: 5px 10px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	width: 150px;
}

.button:hover {
	background-color: #FFA366;
}

.button.active {
	color: #2223A5;
}

ul {
	font-family: Alegreya;
	font-size: 20px;
	list-style-type: circle;
}

hr {
	border: 4px solid #252521;
	border-radius: 5px;
}

.index {
	background: #5BA2C7;
	background: linear-gradient(135deg, #3AFF5E, #E12F2F);
}

.problem {
	background: #153A15;
	background: linear-gradient(135deg, #F0F767, #57DFDF);
}

.recycling {
	background: #46434C;
	background: linear-gradient(135deg, #FFC300, #1CED39);
}
.recycling-butt {
	background-color: #2589E2;
	color: #FFF;
	border: 5px dashed #2589E2;
	font-size: 1.2em;
	padding: 5px 15px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	width: 200px;
}
.recycling-butt:hover {
	background-color: #919AB0;
}
.border {
	border: 5px dotted #007B02;
	padding: 15px 15px 15px;
}
.moved {
	float: right;
}
img {
	border: 5px outset #FFF;
	width: 400px;
	height: 300px;
}